@import 'variables';
@import 'navigation';
@import 'particles';
@import 'button';
@import 'containerAndAboutMe';


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: $nav-background;
  font-family: "Roboto", sans-serif;
}
