#page3{
  font-family: 'Poppins', sans-serif;

  text-align: center;
  
  margin: 10% 20%;
  .content3{
    display: block;
    align-items: center;
    justify-content: center;
      padding-top: 10px;
      text-align: center;
      height: 20%;
      width: 100%;
      >h2{
          color: white;
          font-weight: 600;
          
      }
      >h3 {
          color: white;
          font-weight: 400;

      }
  }
  

}

article{
  display: block;
    align-items: center;
    justify-content: center;
}

.row1{
  border-radius: 15px;
  border: 2px;
  display: flex
  align-items: center;
    justify-content: center;
}
.row2{
  align-items: center;
    justify-content: center;
}
