#page2 {
	display: block;
	.content {
		* {
			>a {
				text-decoration: none;
                color: $nav-background;
			}
		}
		margin: 10% 10%;
		display: flex;
		text-align: left;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		>h2 {
			text-align: center;
			align-content: center;
			justify-content: center;
			color: white;
		}
		.photo>img {
			height: 10%;
		}
		.btn-algn {
			position: absolute;
			top: 50%;
			left: 55%;
			transform: translate(-50%, -50%);
		}
	}
}

@media only screen and (max-width: 900px) {
	#page2 {
		display: block;
		.content {
			* {
				margin: 0;
				>a {
					text-decoration: none;
					color: $nav-background;
				}
			}
			margin: 0;

	
			display: flex;
			align-items: center;
			justify-content: center;
			>h2 {

				display: flex;
				text-align: center;
				align-content: center;
				justify-content: space-around;
				color: white;

			}
			.photo>img {
				display: none;
			}
			.btn-algn {

				display: none;
				align-items: center !important; 
				justify-content: space-around !important;
				position:absolute !important;
			}
		}
	}
}