#page3{
  font-family: 'Poppins', sans-serif;

  text-align: center;
  
  margin: 10% 20%;
  .content3{
      padding-top: 10px;
      text-align: center;
      height: 20%;
      width: 100%;
      >h2{
          color: white;
          font-weight: 600;
          
      }
      >h3 {
          color: white;
          font-weight: 400;

      }
  }
  

}