@import 'variables';
@import 'nav';
@import 'part';
@import 'aboutMe';
@import 'page2';


html {
    scroll-behavior: smooth;
    body {
        display: block;
        margin: 0;
        padding: 0;
        background-color: $nav-background;
        font-family: "Roboto", sans-serif;
        height: 100vh;
        header {
            display: block;
            z-index: 4;
            height: 100vh;
        }
        section{
            height: 100vh;
            width: auto;

        }
      }
    }