@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
.navigation {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  height: 70px;
  background: transparent;
  font-weight: 500;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  -ms-flex-line-pack: center !important;
      align-content: center !important;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: transparent;
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover {
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  background: #72b8fd;
  color: #ffffff;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #3e3e3e;
  height: 70px;
  width: 70px;
}

/*mobile stuff*/
@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
    float: right;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 20px;
    line-height: 20px;
    text-align: center;
    background-color: transparent 20%;
  }
  nav ul li ul li a {
    padding-left: 50px;
  }
  .nav-dropdown {
    position: static;
  }
}

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
    float: right !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 29px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

h1 {
  background-color: transparent;
}

/* ---- reset ---- */
body {
  margin: 0;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- tsparticles container ---- */
#tsparticles {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: transparent;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.github {
  bottom: 10px;
  right: 10px;
  position: fixed;
  border-radius: 10px;
  background: #dbdbdb;
  padding: 0 12px 6px 12px;
  border: 1px solid #000;
}

.github a:hover,
.github a:link,
.github a:visited,
.github a:active {
  color: #000;
  text-decoration: none;
}

.github img {
  height: 30px;
}

.github #gh-project {
  font-size: 20px;
  padding-left: 5px;
  font-weight: bold;
  vertical-align: bottom;
}

.container {
  font-weight: 400;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .content-page1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container .content-page1 > h1 {
  color: white;
  text-align: center;
}

.container .content-page1 > h2 {
  text-align: center;
  font-weight: 400;
  color: white;
}

@media screen and (max-width: 700px) {
  .container {
    font-weight: 400;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .content-page1 {
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .container .content-page1 > h1 {
    color: white;
    text-align: center;
  }
  .container .content-page1 > h2 {
    text-align: center;
    color: white;
  }
}

#page2 {
  display: block;
}

#page2 .content {
  margin: 10% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#page2 .content * > a {
  text-decoration: none;
  color: #3e3e3e;
}

#page2 .content > h2 {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

#page2 .content .photo > img {
  height: 70%;
}

#page2 .content .btn-algn {
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 800px) {
  #page2 {
    display: block;
  }
  #page2 .content {
    text-align: left;
    position: relative;
    top: 30%;
    left: 43%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #page2 .content > h2 {
    display: block;
    -ms-flex-line-pack: center;
        align-content: center;
    color: white;
  }
  #page2 .content .photo > img {
    display: none;
  }
  #page2 .content .btn-algn {
    -ms-flex-line-pack: center;
        align-content: center;
    position: absolute;
    top: 130% !important;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

#page3 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  /* flexbox fallback is the browser does not support display:grid */
  /* Styles, just for fun */
}

#page3 .content3 {
  padding-top: 10px;
  text-align: center;
  height: 20%;
  width: 100%;
}

#page3 .content3 > h2 {
  color: white;
  font-weight: 600;
}

#page3 .content3 > h3 {
  color: white;
  font-weight: 400;
}

@supports (display: grid) {
  #page3 .grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 1.5vw;
    min-height: 100vh;
    padding: 1.5vw;
  }
  #page3 .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 50vh 30vh (minmax(20vh, 1fr))[7];
        grid-template-rows: 50vh 30vh repeat(7, minmax(20vh, 1fr));
        grid-template-areas: "hero   hero" "big1   big1" "med1   med1" "med2   med2" "small1 small2" "small3 small4" "small5 small6" "small7 small8" "small9 small10";
  }
  @media screen and (min-width: 750px) {
    #page3 .grid {
      -ms-grid-columns: (1fr)[5];
          grid-template-columns: repeat(5, 1fr);
      -ms-grid-rows: (25vh)[5];
          grid-template-rows: repeat(5, 25vh);
          grid-template-areas: "hero   hero   hero   med1   med1" "hero   hero   hero   med2   med2" "big1   big1   big1   big1   big1" "small1 small2 small3 small4 small5" "small6 small7 small8 small9 small10";
    }
  }
  @media screen and (min-width: 1400px) {
    #page3 .grid {
      -ms-grid-columns: (1fr)[6];
          grid-template-columns: repeat(6, 1fr);
      -ms-grid-rows: auto;
          grid-template-rows: auto;
          grid-template-areas: "small1 hero   hero hero med1   med1" "small2 hero   hero hero med2   med2" "small3 small5 big1 big1 small7 small8" "small4 small6 big1 big1 small9 small10";
    }
  }
  #page3 .grid .item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: hero;
  }
  #page3 .grid .item:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: big1;
  }
  #page3 .grid .item:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: med1;
  }
  #page3 .grid .item:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: med2;
  }
  #page3 .grid .item:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: small1;
  }
  #page3 .grid .item:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: small2;
  }
  #page3 .grid .item:nth-child(7) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: small3;
  }
  #page3 .grid .item:nth-child(8) {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    grid-area: small4;
  }
  #page3 .grid .item:nth-child(9) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: small5;
  }
  #page3 .grid .item:nth-child(10) {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
    grid-area: small6;
  }
  #page3 .grid .item:nth-child(11) {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    grid-area: small7;
  }
  #page3 .grid .item:nth-child(12) {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
    grid-area: small8;
  }
  #page3 .grid .item:nth-child(13) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    grid-area: small9;
  }
  #page3 .grid .item:nth-child(14) {
    -ms-grid-row: 9;
    -ms-grid-column: 2;
    grid-area: small10;
  }
}

@supports not (display: grid) {
  #page3 .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    min-height: 100vh;
    padding: 0.75vw;
  }
  #page3 .grid .item {
    min-height: 20vh;
    margin: 0.75vw;
  }
  #page3 .grid .item:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(100% - 1.5vw);
            flex: 0 1 calc(100% - 1.5vw);
    height: 50vh;
  }
  #page3 .grid .item:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(100% - 1.5vw);
            flex: 0 1 calc(100% - 1.5vw);
    height: 30vh;
  }
  #page3 .grid .item:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(100% - 1.5vw);
            flex: 0 1 calc(100% - 1.5vw);
  }
  #page3 .grid .item:nth-child(4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(100% - 1.5vw);
            flex: 0 1 calc(100% - 1.5vw);
  }
  #page3 .grid .item:nth-child(5) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.5vw);
            flex: 0 1 calc(50% - 1.5vw);
  }
  #page3 .grid .item:nth-child(6) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.5vw);
            flex: 0 1 calc(50% - 1.5vw);
  }
  #page3 .grid .item:nth-child(7) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.5vw);
            flex: 0 1 calc(50% - 1.5vw);
  }
  #page3 .grid .item:nth-child(8) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.5vw);
            flex: 0 1 calc(50% - 1.5vw);
  }
  #page3 .grid .item:nth-child(9) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.5vw);
            flex: 0 1 calc(50% - 1.5vw);
  }
  #page3 .grid .item:nth-child(10) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.5vw);
            flex: 0 1 calc(50% - 1.5vw);
  }
  #page3 .grid .item:nth-child(11) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.5vw);
            flex: 0 1 calc(50% - 1.5vw);
  }
  #page3 .grid .item:nth-child(12) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.5vw);
            flex: 0 1 calc(50% - 1.5vw);
  }
  #page3 .grid .item:nth-child(13) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.5vw);
            flex: 0 1 calc(50% - 1.5vw);
  }
  #page3 .grid .item:nth-child(14) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1.5vw);
            flex: 0 1 calc(50% - 1.5vw);
  }
  @media screen and (min-width: 750px) {
    #page3 .grid .item:nth-child(1) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(60% - 1.5vw);
              flex: 0 1 calc(60% - 1.5vw);
    }
    #page3 .grid .item:nth-child(2) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(40% - 1.5vw);
              flex: 0 1 calc(40% - 1.5vw);
      height: 50vh;
    }
  }
  @media screen and (min-width: 1400px) {
    #page3 .grid .item:nth-child(1) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(60% - 1.5vw);
              flex: 0 1 calc(60% - 1.5vw);
    }
    #page3 .grid .item:nth-child(2) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(40% - 1.5vw);
              flex: 0 1 calc(40% - 1.5vw);
    }
    #page3 .grid .item:nth-child(3) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(50% - 1.5vw);
              flex: 0 1 calc(50% - 1.5vw);
    }
    #page3 .grid .item:nth-child(4) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(50% - 1.5vw);
              flex: 0 1 calc(50% - 1.5vw);
    }
    #page3 .grid .item:nth-child(5) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(25% - 1.5vw);
              flex: 0 1 calc(25% - 1.5vw);
    }
    #page3 .grid .item:nth-child(6) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(25% - 1.5vw);
              flex: 0 1 calc(25% - 1.5vw);
    }
    #page3 .grid .item:nth-child(7) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(25% - 1.5vw);
              flex: 0 1 calc(25% - 1.5vw);
    }
    #page3 .grid .item:nth-child(8) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(25% - 1.5vw);
              flex: 0 1 calc(25% - 1.5vw);
    }
    #page3 .grid .item:nth-child(9) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(25% - 1.5vw);
              flex: 0 1 calc(25% - 1.5vw);
    }
    #page3 .grid .item:nth-child(10) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(25% - 1.5vw);
              flex: 0 1 calc(25% - 1.5vw);
    }
    #page3 .grid .item:nth-child(11) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(25% - 1.5vw);
              flex: 0 1 calc(25% - 1.5vw);
    }
    #page3 .grid .item:nth-child(12) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(25% - 1.5vw);
              flex: 0 1 calc(25% - 1.5vw);
    }
    #page3 .grid .item:nth-child(13) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(25% - 1.5vw);
              flex: 0 1 calc(25% - 1.5vw);
    }
    #page3 .grid .item:nth-child(14) {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(25% - 1.5vw);
              flex: 0 1 calc(25% - 1.5vw);
    }
  }
}

#page3 *, #page3 *:before, #page3 *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#page3 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #29343d;
}

@supports not (display: grid) {
  #page3 body:before {
    content: 'Sorry, seems like your browser doesn\'t support display: grid. Below is the flexbox fallback.';
    display: block;
    padding: 2rem 2rem 0;
    color: #ffffff;
    text-align: center;
  }
}

#page3 .header {
  margin: 10vh 1.5vw;
  text-align: center;
  color: #cedfe9;
}

#page3 .header h1,
#page3 .header h2 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1;
}

#page3 .header h1 {
  position: relative;
  padding-bottom: 0.5em;
  color: #ffffff;
  font-size: 2rem;
}

#page3 .header h2 {
  font-weight: normal;
  font-size: 0.875rem;
}

@media screen and (min-width: 750px) {
  #page3 .header h1 {
    font-size: 3.75rem;
  }
  #page3 .header h2 {
    font-weight: normal;
    font-size: 1.125rem;
    letter-spacing: 0.5em;
  }
}

@media screen and (min-width: 1400px) {
  #page3 .header h1 {
    font-size: 6rem;
  }
  #page3 .header h2 {
    font-weight: normal;
    font-size: 1.5rem;
  }
}

#page3 .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#page3 .diamond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, right bottom, left top, from(#ddd), to(#fff));
  background-image: linear-gradient(to top left, #ddd 0%, #fff 100%);
  text-align: center;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  -webkit-transition: -webkit-box-shadow 250ms, -webkit-transform 250ms;
  transition: -webkit-box-shadow 250ms, -webkit-transform 250ms;
  transition: box-shadow 250ms, transform 250ms;
  transition: box-shadow 250ms, transform 250ms, -webkit-box-shadow 250ms, -webkit-transform 250ms;
}

#page3 .diamond span {
  font-weight: bold;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

#page3 .grid .item:hover .diamond,
#page3 .grid .item:focus .diamond {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotateZ(45deg) scale(1.2);
          transform: rotateZ(45deg) scale(1.2);
}

#page3 .tooltip {
  position: absolute;
  z-index: 1;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  background: #29343d;
  opacity: 0;
  color: #cedfe9;
  font-size: 0.875rem;
  -webkit-transition: opacity 500ms, -webkit-transform 500ms;
  transition: opacity 500ms, -webkit-transform 500ms;
  transition: opacity 500ms, transform 500ms;
  transition: opacity 500ms, transform 500ms, -webkit-transform 500ms;
}

#page3 .tooltip:before {
  content: '';
  position: absolute;
  top: -9px;
  left: calc(50% - 10px);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #29343d;
}

#page3 .grid .item:hover .tooltip,
#page3 .grid .item:focus .tooltip {
  opacity: 1;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
}

#page3 .grid .item {
  position: relative;
  padding: 1vw;
  background-position: left bottom;
  background-size: 150% 100%;
  -webkit-transition: background 500ms, outline 500ms;
  transition: background 500ms, outline 500ms;
  background-position: top left;
  outline: transparent;
}

#page3 .grid .item:hover,
#page3 .grid .item:focus {
  background-position: top right;
}

#page3 .grid .item:focus {
  outline: 2px solid #3eabfa;
}

#page3 .grid .item:nth-child(1) {
  background-image: linear-gradient(45deg, #cbabfb 0%, #fb7ef6 60%);
}

#page3 .grid .item:nth-child(2) {
  background-image: linear-gradient(45deg, #fb7ef6 0%, #cbabfb 60%);
}

#page3 .grid .item:nth-child(3) {
  background-image: linear-gradient(45deg, #70c1fb 0%, #79ebe0 60%);
}

#page3 .grid .item:nth-child(4) {
  background-image: linear-gradient(45deg, #79ebe0 0%, #70c1fb 60%);
}

#page3 .grid .item:nth-child(5),
#page3 .grid .item:nth-child(6),
#page3 .grid .item:nth-child(7),
#page3 .grid .item:nth-child(8),
#page3 .grid .item:nth-child(9),
#page3 .grid .item:nth-child(10),
#page3 .grid .item:nth-child(11),
#page3 .grid .item:nth-child(12),
#page3 .grid .item:nth-child(13),
#page3 .grid .item:nth-child(14) {
  background-image: linear-gradient(45deg, #feeeab 0%, #fb7eb3 60%);
}

.btn.is-open ~ .description {
  opacity: 0;
}

.btn {
  width: 200px;
  height: 80px;
  -webkit-transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  text-align: center;
}

.btn-front {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 80px;
  background-color: white;
  color: #3e3e3e;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn-front:hover {
  background-color: #bebebe;
}

.btn.is-open .btn-front {
  pointer-events: none;
  line-height: 170px;
}

.btn-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3e3e3e;
  color: white;
  -webkit-transform: translateZ(-2px) rotateX(180deg);
          transform: translateZ(-2px) rotateX(180deg);
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 0.8s ease;
  transition: -webkit-box-shadow 0.8s ease;
  transition: box-shadow 0.8s ease;
  transition: box-shadow 0.8s ease, -webkit-box-shadow 0.8s ease;
}

.btn-back p {
  margin-top: 27px;
  margin-bottom: 25px;
}

.btn-back button {
  padding: 12px 20px;
  width: 30%;
  margin: 0 5px;
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  font-size: 1em;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: background 0.15s ease;
  transition: background 0.15s ease;
}

.btn-back button:focus {
  outline: 0;
}

.btn-back button.yes {
  background-color: white;
  color: #3e3e3e;
  width: 150px;
}

.btn-back button.yes:hover {
  background-color: #bebebe;
}

.btn-back button.no {
  color: #2196F3;
}

.btn-back button.no:hover {
  background-color: #ddd;
}

.btn.is-open .btn-back {
  -webkit-box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
          box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

.btn[data-direction="left"] .btn-back,
.btn[data-direction="right"] .btn-back {
  -webkit-transform: translateZ(-2px) rotateY(180deg);
          transform: translateZ(-2px) rotateY(180deg);
}

.btn.is-open {
  width: 300px;
  height: 170px;
}

.btn[data-direction="top"].is-open {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.btn[data-direction="right"].is-open {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.btn[data-direction="bottom"].is-open {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.btn[data-direction="left"].is-open {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

html {
  scroll-behavior: smooth;
}

html body {
  text-transform: lowercase !important;
  display: block;
  margin: 0;
  padding: 0;
  background-color: #3e3e3e;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

html body header {
  text-transform: lowercase !important;
  display: block;
  z-index: 4;
  height: 100vh;
}

html body section {
  text-transform: lowercase !important;
  height: 100vh;
  width: auto;
}
/*# sourceMappingURL=main.css.map */